langchain
langchain-openai
langgraph
openai
anthropic
tenacity
kafka-python
pinecone
redis
python-dotenv
langchain-anthropic
langchain-google-genai
fastapi
uvicorn
firebase-admin
razorpay
pyjwt
python-multipart
pydantic[email]
replicate
httpx
gunicorn
